<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Template Erstellen
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-create-test-info></app-create-test-info>
  </mat-expansion-panel>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Test Definitionen
      </mat-panel-title>
    </mat-expansion-panel-header>
    <h2>Test-Definition</h2>
    <div>
      <div style="display: flex; flex-direction: row; margin-top: 16px">
        <div style="width: 20%;">
          <h2>PDF Optionen</h2>
          <app-create-test-controls (add)="addTest()"
                                    (generate)="generate()"
                                    [disabled]="creating$ | async"
                                    [labelSize]="labelSize$ | async"
                                    (labelSizeChange)="setLabelSize($event)"
                                    [testsToCreate]="testsToCreate$ | async"
                                    (testsToCreateChange)="setContainersToCreate($event)"></app-create-test-controls>

        </div>
        <div style="border-right: 2px solid lightgray; margin-right: 16px; margin-left: 16px"></div>
        <div>
          <h2>Test-Definion</h2>
          <app-create-test-definition></app-create-test-definition>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
