<button [disabled]="disabled"
        style="margin-right: 16px"
        mat-stroked-button (click)="add.emit()">
  {{disabled ? 'QR Codes werden generiert' : 'Test Hinzufügen'}}
</button>
<button [disabled]="disabled" mat-stroked-button (click)="generate.emit()">
  {{disabled ? 'QR Codes werden generiert...' : 'QR Codes Generieren'}}
</button>
<mat-form-field style="margin-left: 8px">
  <mat-label>Test Anzahl</mat-label>
  <mat-select [disabled]="disabled" [ngModel]="testsToCreate" (ngModelChange)="testsToCreateChange.emit($event)">
    <mat-option [value]="1">1</mat-option>
    <mat-option [value]="2">2</mat-option>
    <mat-option [value]="3">3</mat-option>
    <mat-option [value]="4">4</mat-option>
    <mat-option [value]="8">8</mat-option>
    <mat-option [value]="16">16</mat-option>
    <mat-option [value]="32">32</mat-option>
    <mat-option [value]="64">64</mat-option>
  </mat-select>
</mat-form-field>
